@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey :#f8f8f8
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  background: var(--grey);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes bounce-y {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-50%); }
}

.animate-bounce-y {
  animation: bounce-y 0.6s ease-in-out infinite;
}